[alias]
	st = status
	ch = checkout
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset' --abbrev-commit
	stat = !git status && git diff --staged --stat
[user]
	signingkey = AA7C209FEE252300B3C295A62C601A0564141686
	email = jon.ronnenberg@gmail.com
	name = dotnetCarpenter
[commit]
[gpg]
	program = gpg
[core]
	eol = lf
	autocrlf = input
[credential]
	helper = cache
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
